**/.idea/
**/*.iml
**/.project
**/.classpath
**/.settings
**/.pmd
**/.pmdruleset.xml
**/.vertx
**/target/
**/test-output/
**/generated/
**/db/
**/dist/
# NPM Angular Directory
**/node_modules

